<div class="container">
    <form autocomplete="off" [formGroup]="orderForm">
        <!-- Número de pedido -->
        <div class="row col-md-12">
            <mat-form-field class="input-full-width">
                <mat-label>{{'order.number'|translate}}</mat-label>
                <input formControlName="orderNumber" matInput>
            </mat-form-field>
        </div>

        <!-- Fecha Comienzo -->
        <div class="row col-md-12">
            <app-datepicker [label]="'order.start'" (selectedDate)="changeStartDate($event)"
                [initialDate]="initialDate">
            </app-datepicker>
        </div>

        <!-- Fecha Fin -->
        <div class="row col-md-12">
            <app-datepicker [label]="'order.end'" (selectedDate)="changeEndDate($event)"
                [initialDate]="initialEndDate" [minDate]="orderForm.value.validFrom"></app-datepicker>
        </div>

        <!-- Monto -->
        <div class="row col-md-12">
            <mat-form-field class="">
                <mat-label>{{'order.initialAmount'|translate}}</mat-label>
                <input formControlName="amount" matInput>
                <mat-error>{{getError('amount') | translate}}</mat-error>
            </mat-form-field>
        </div>

        <!-- Tipo -->
        <div class="row col-md-12">
            <div class="col-md-6">
                <mat-radio-group formControlName="type">
                    <mat-radio-button class="example-margin col-md-4" *ngFor="let value of typeEnums"
                        [value]="value">
                        {{'order.'+value|translate}} </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <br />
    </form>
</div>