<div class="row py-5">
    <div class="col-lg-4 py-5 mx-auto" routerLink="/new">
        <a mat-fab color="primary" class="big-button-menu">
            <mat-icon aria-hidden="false">thumb_up</mat-icon>
        </a>
        <span class="mat-headline px-2">NEW QR</span>
    </div>
</div>
<br/>
<div class="row py-5">
    <div class="col-lg-4 py-5 mx-auto" routerLink="/show">
        <a mat-fab color="primary" class="big-button-menu">
            <mat-icon aria-hidden="false">search</mat-icon>
        </a>
        <span class="mat-headline px-2">SEARCH</span>
    </div>
</div>
<br/>   
<div class="row py-5">
    <div class="col-lg-4 py-5 mx-auto" routerLink="/generator">
        <a mat-fab color="primary" class="big-button-menu">
            <mat-icon aria-hidden="false">verified</mat-icon>
        </a>
        <span class="mat-headline px-2">GENERATOR</span>
    </div>
</div>